#tytle {
    background-color: black;
    color: white;
    text-align: left;
    height: 60px;
    vertical-align: 50%;
    font-size: 24px;
    font-weight: lighter;
    font-style: italic;
}

a:hover {
    background-color: darkmagenta;
}

input:focus, textarea:focus {
    background-color: gold;
}

#tytlenav {
    list-style: none;
    text-align: center;
    justify-content: space-between;
    width: 100%;
    background-color: black;
    position: absolute;

}

#tytlenav li {
    list-style: none;
    width: 140px;
    text-align: center;
    float: left;
    height: 50px;
    line-height: 50px;
    margin-right: 2px;
}

#tytlenav li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 20px;
    text-align: center;
}

#image_wrapper1 {
    background-image: url("../images/index/minirover.jpg");
    background-repeat: no-repeat;
    background-size: 150%;
    background-position: center center;
    min-height: 100vh;
    width: 100%;
    position: relative;
}
#image_wrapper2 {
    background-image: url("../images/index/Range-Rover-Evoque.jpg");
    background-repeat: no-repeat;
    background-size: 150%;
    background-position: center center;
    min-height: 100vh;
    width: 100%;
    position: relative;
    
}
#image_wrapper3 {
    background-image: url("../images/index/Landcruiser.webp");
    background-repeat: no-repeat;
    background-size: 150%;
    background-position: center center;
    min-height: 100vh;
    width: 100%;
    position: relative;
}



.headline {
    font-weight: 200px;
    font-style: bold;
    text-align: center;
    color: gold;
}

.subhead {
    font-weight: 100px;
    font-style: normal;
    text-align: center;
    color: gold;
}

.principal_info {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    text-align: center;
    color: silver;
}

.cta-links {
    display: inline-block;
    font-style: normal;
    color: white;
    font-size: 19px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    display: block;
    width: 100%;
    text-align: center;
    
}






* {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
}



td {
    border-collapse: separate;
}
.aboutusfig {
    width: 300px; 
    height: 200px;
    display: flex;
    position: relative;
    border-style: outset;
    
}
#aboutusoverview {
    display: flex;
    position: relative;
}